* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    background:#CCCCCC;
}

nav {
    font-weight: 400;
    background: #210440;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.fa-crown {
    padding-right: 10px;
    color: rgb(247, 232, 34);
}

nav .logo {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 24px;
    color: white;
}

header nav a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0 10px;
}
 
.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.nav-links ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f19d64;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-links ul li a:hover::after, .nav-links ul li a.activated::after {
    width: 100%;
}

#menuBtn {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

#closeBtn {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.containeur {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11vh; 
    margin-bottom:  6vh;
}

form {
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 45%;
    padding: 20px;
    height: auto;
    border: 1px solid #210440;
    color: white;
    border-radius: 10px;
}

form p {
    font-size: 18px;
 }

.card {
    display: flex;
    flex-direction: column;
}

.areas, .btn {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #210440;
    border-radius: 6px;
    font-family: serif;
}

textarea {
    height: 150px;
    resize: none;
}

.btn button {
    width: 100%;
    background-color: #F77A36;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgb(29, 28, 28);
    border-radius: 15px;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #210440;
    width: 100%;
    bottom: 0;
    height: 80px;
    color: white;
}
footer h5 {
    letter-spacing: .1rem;
    font-size: 1rem;
}
