/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  font-style: normal;
  background:rgb(189,171,171, 0.3);
}

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(2,5,32,0.5), rgba(2,5,32,0.5)), url('../Images/house-.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

nav {
  background: rgb(51, 51, 51);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav .logo {
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  font-size: 24px;
  color: white;
}

nav img {
  width: 150px;
}

.fa-crown {
  padding-right: 10px;
  color: rgb(247, 232, 34);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content:center;
}  

.nav-links ul {
list-style: none;
display: flex;
margin: 0 10px;
}

.nav-links ul li {
display: inline-block;
padding: 8px 12px;
}

.nav-links ul li a {
color: #fff;
text-decoration: none;
font-size: 16px;
position: relative;
}

.nav-links ul li a::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #f19d64;
position: absolute;
bottom: -5px;
left: 0;
transition: width 0.3s ease;
}

.nav-links ul li a:hover::after, .nav-links ul li a.activated::after {
width: 100%;
}

#menuBtn {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

#closeBtn {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.text-box p {
  font-size: 20px;
  margin: 20px 0;
}

.banner {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  height: 2px;
  background: rgb(51,51,51) ;
}
.containerr {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.model {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: center;
}

.model h3 {
  text-align: center;
  margin-bottom: 20px;
}

.gridd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around;
  align-items: stretch; */
}

.gridd-item {
  flex: 1 1 calc(33.333% - 0px);
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.cardd {
  height: 300px;/* Hauteur automatique */
  width: 300px;/* Largeur fixe */
  background: #fff; /* Couleur de fond blanche */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;/* Texte centré */
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6); /* Ombre portée */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'animation */
}

/* Animation lors du survol */
.cardd:hover {
  transform: scale(1.05); /* Agrandit la carte de 5% */
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8); /* Augmente l'ombre */
}

.cardd-img {
  height: 200px; /*hauteur 200px fixe */
  background-size: cover;
  width: 100%;
}

.cardd-content {
  margin-bottom: 15px;
}

.cardd p {
padding-top: 1px;
}

.footer {
color: white;
display: flex;
background: rgb(51, 51, 51);
width: 100%;
height: 80px;
align-items: center;
justify-content: center;
}