/* Responsive Styles */

@media (max-width: 968px) {
    .card0-content {
        flex-direction: column;
    }

    .card0-text, .card0--img {
        flex: 1 1 100%;
    }

    .header {
        height: 55vh;

    }
 
    .container {
        margin-top: -30px; 
        min-height: 100%;
    } 
} 

@media screen and (max-width: 568px) {
    header {
        height: 20vh;
    }
    
}

@media (max-width:548px) {

    .rows {
        width: 100%;
    }
    .client-content {
        height: auto;
        text-align: center;
        background: #fff;
        display: flex;
        align-items: center;
    } 
    
    .client-content img {
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 50%;
    }

    .client-content p {
        margin-top: -15px;
        text-align: center;
    }


    .ident {
        height: 30px;
        margin-right: 35px;
        border-radius: 50%;
        padding-top: -29px;
        padding-bottom: 60px;
    }

    .card__article  {

        width:50%;
    }
     
    .container {
        min-height: 100%;
    }
}

@media (max-width: 768px) {

    nav {
      padding: 2% 4%;
    }
    #menuBtn {
        display: block;
    }

    .nav-links {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        transition: right 0.3s ease;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links.active {
        display: flex;
        right: 0;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links ul li {
        width: 100%;
        text-align: center;
    }

    #closeBtn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .text-box p {
      font-size: 18px;
    }
  
    .grid {
      flex-direction: column;
      align-items: center;
    }
  
    .grid-item {
      flex: 1 1 100%;
      margin: 10px 0;
    }

    .text-box {
        width: 80%;
        margin-top: 15%;
    }


    .rows {
        width: 100%;
    }
    
    /* .client-content {
        width: 100%;
    } */
     
    /* .header {
        height: 50vh;
    } */

    form{
        width: 90%;
    }

    footer h5 {
        font-size: .7rem;
        letter-spacing: .1rem;
    }

}

/* ===============BREAKPOINTS======================*/

/* pour petits devices */
@media screen and (max-width:320px){
    .card__data {
        padding: 1rem;
    }

    .rows {
        width: 100%;
    }
    .client-content {
        height: auto;
        text-align: center;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }


    .client-content img {
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 50%;
    }

    .client-content p {
        margin-top: -15px;
        text-align: center;
    }


    .ident {
        height: 30px;
        margin-right: 35px;
        border-radius: 50%;
        padding-top: -29px;
        padding-bottom: 60px;
    }

    .ident1 {
        height: 30px;
        margin-left: auto;
        margin-right: 35px;
        border-radius: 50%;
        padding-top: 35px;
    }
    
    form {
        margin-top: -150px; 
        width: 100%;
    }

    form h2 {
        font-size: 1rem;
        
    }
  

    .card {
        height: 200px;
        width: 200px;
        margin-bottom: 60px;
    }

}

/* pour moyen devices */
@media screen and (min-width:768px){
    .card__data {
        padding: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block; 
    }

    form {
        margin-top: 70px;
        width: 90%;
        width: auto;
        height: auto;

    }

}

/* pour moyen devices */
@media screen and (min-width:1000px){

    .card__container{
        max-width: 1120px;
    }

    .swiper-button-next {
        right: -1rem;
    }

    .swiper-button-prev {
        left: -1rem;
    }

}
