/*================== GOOGLE FONTS =================== */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@400;500;600&display=swap');

/*=====================REMIXICONS================== */
:root {
    /*=========== colors ======== */
    /*color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(38, 92%, 58%);
    --first-color-light:hsl(38,100%, 78%);
    --first-color-alt:hsl(32,75%, 50%);
    --second-color:hsl(195,75%, 52%);
    --dark-color:hsl(212, 40%, 12%);
    --white-color:hsl(212, 4%, 95%);
    --body-color:hsl(212, 42%, 15%);
    --container-color:hsl(212, 42%, 20%);

    /*========== font and typography ========== */
    /* .5rem = 8px / 1rem = 16px  */
    --bay-font: "Nanum Myeongjo", serif;
    --hh-font-size: 1.25rem;
    --normal-font-size: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    height: 75vh;
    width: 100%;
    background: linear-gradient(rgba(1,4,22,0.3), rgba(1,4,22,0.3)), url( ../Images/equi.jpg) no-repeat center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    color: white;
  }

body {
    
    font-family: var(--bay-font) ;
    font-weight: 400;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    font-style: normal;
    color: var(--white-color);
}

a {
    text-decoration: none;
}

nav {
    background: var(--body-color);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.fa-crown {
    /* margin-left: 15px ; */
    padding-right: 10px;
    color: rgb(247, 232, 34);
}
  
nav img {
    width: 150px;
    object-fit: cover;
}
 
nav .logo {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 24px;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}  
  

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0 10px;
    }
    
.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.nav-links ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f19d64;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
    }
    
.nav-links ul li a:hover::after, .nav-links ul li a.activated::after {
    width: 100%;
}

#menuBtn {
    /* margin-right: 20px; */
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
 
#closeBtn {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.text-box {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.text-box h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.text-box p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
}

/* ==============================================slide================*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card__container {
    padding-block: 5rem;
}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__article {
    width: 250px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__image {
    position: relative;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem; 
}

.card__data {
    background-color:var(--container-color) ;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card__img {
    width: 180px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 5;
}

.card__shadow {
    width: 200px;
    height: 200px;
    background-color:var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__name {
    font-size: var(--hh-font-size) ;
    color: var(--second-color);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 500;
    margin-bottom: 1.75rem; 
}

.card__button {
    display: inline-block;
    background-color:var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

/* swiper class */

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next{
    width: initial;
    height: initial;
    font-size: 3rem;
    color:var(--second-color);
    display: none;
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-next {
    right: 0px;
}

.swiper-pagination-bullet {
    background-color:hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color:var(--second-color);
    opacity: 1;
}

/* ===========================================slide================*/
.footer{
    color: white;
    display: flex;
    font-family: "Bai Jamjuree", sans-serif;
    background-color:var(--container-color) ;
    width: 100%;
    height: 100px;
    position: relative;
    align-items: center;
    margin-top: 50px;
    bottom: 0;
    justify-content: center;
}